{% extends "base.html" %}
{% block main %}
<p>
 {% if tag.eid %}
   {% if tag.element_type == 'tag' %} Ярлык {% else %} Фасет {% endif %} #{{ tag.eid }} ({{ tag.name }})
 {% else %}
   /
 {% endif %}
</p>
<table border="1" style="border-collapse:collapse;">
<tr> <th> Родители </th> <th> Ярлыки </th> <th> Фасеты </th> </tr>
<tr valign="top">
<td> {% set parent = tag.inV() %} {% if parent %} {% for i in parent %}
  <p> <a href="{{ url_for('tag', tag_id=i.eid) }}"> {% if i.eid %} {{ i.name }} {% else %} / {% endif %} </a> </p>
{% endfor %} {% endif %} </td>
<td> {% set childen = tag.outV("tag") %} {% if childen %} {% for i in childen %}
  <p> <a href="{{ url_for('tag', tag_id=i.eid) }}"> {{ i.name }} </a> </p>
{% endfor %} {% endif %} </td>
<td> {% set childen = tag.outV("facet") %} {% if childen %} <ul> {% for i in childen %}
  <p> <a href="{{ url_for('tag', tag_id=i.eid) }}"> {{ i.name }} </a> </p>
{% endfor %} {% endif %} </p>
</tr>
<tr>
 <td/>
 <td> <a href="{{ url_for('tag_add_tag', tag_id=tag.eid) }}"> <button type="button"> Добавить </button> </a> </td>
 <td> <a href="{{ url_for('tag_add_facet', tag_id=tag.eid) }}"><button type="button"> Добавить </button> </a> </td>
</tr>
</table>
{% if tag.eid %}
<a href="{{ url_for('tag_edit', tag_id=tag.eid) }}"> <button type="button"> Изменить </button> </a>
<a href="{{ url_for('tag_del', tag_id=tag.eid) }}"> <button type="button"> Удалить </button> </a>
{% endif %}
<a href="{{ url_for('tagmap') }}"> <button type="button"> Карта </button> </a>
{% endblock %}
