{% extends "base.html" %}
{% block main %}
<p> Импорт </p>
<form action="." method="post" enctype="multipart/form-data">
<table>
	{% for field in form %}
	<tr>
		<td> {{ field.label }} </td>
		<td> {{ field }}
			{% for error in field.errors %} <br/>
				<span style="color: red;">[{{error}}]</span>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
<p>
	<button type="submit"> Ok </button>
	<a href="{{ url_for('index') }}"> <button type="button"> Cancel </button> </a>
</p>
</form>
{% endblock %}
