{% extends "base.html" %}
{% block main %}
<p> Ярлык </p>
<form action="" method="post">
{{ form.csrf_token }}
<table>
	{% for field in form %}
	<tr>
		<td> {{ field.label }} </td>
		<td> {{ field }}
			{% for error in field.errors %} <br/>
				<span style="color: red;">[{{error}}]</span>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
</table>
<p>
	<button type="submit"> Ok </button>
	<a href="{{ url_for('tag', tag_id=tag.eid) }}"> <button type="button"> Cancel </button> </a>
</p>
</form>
{% endblock %}
